.bg-image{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
    ),
    url('../../../../assets/images/auth/bg_auth.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}
.card{
    background: rgba(0,0,0,0.6);
    color: #fff;
}
.btn{
    background-color: #f00;
    padding: 10px 56px;
    color: #fff !important;
    border: none;
}
.mat-error {
    color: #f44336;
    margin: 4px auto !important;
}