<div class="reviews position-relative">
    <button class="close mat-button" (click)="close()">X</button>
    <form [formGroup]="createForm" (submit)="onSubmit()">
        <div class="image mb-2">
            <figure class="position-relative">
                <div class="hover-img">
                    <p>+</p>
                </div>
                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; max-width:250px">
                <input id="file" type="file" accept="image/*" class="form-control form-image"
                    (change)="onFileChange($event)">
            </figure>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" id="name" placeholder="Name movie"
                    placeholder="Placeholder">
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Description</mat-label>
                <textarea matInput autosize class="my-textarea" id="description" formControlName="description"
                rows="3"> </textarea>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category_id">
                  <ng-container *ngFor="let category of listCategory">
                    <mat-option [value]="category.id">{{category.name}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="d-flex  justify-content-center">
            <button class="book my-3 d-flex align-items-center justify-content-center" type="submit" [disabled]="createForm.invalid"><span class="mx-2">{{data.type}}</span> <mat-spinner *ngIf="loading"></mat-spinner></button>
        </div>
    </form>
</div>