/* You can add global styles to this file, and also import other style files */
@import url('./assets/style/_style.scss');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: radial-gradient(26.76% 85.52% at 86.73% -12.86%,#c241ff 6.65%,#6b57ff 100%); background-attachment: fixed;}
